p{
    color:blue;
} body{
    background-color:black;
    background-image: url(shanto.png);
    background-repeat: no-repeat;
    background-position :right;
    backgroun-position :cover;

}# Html
